<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supply Chain Demo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.33/dist/web3.min.js"></script>
    
</head>

<body>
   
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                  
                        <% for (var i = 0; i < newListItems.length; i++) { %>
                            <li> <%= newListItems[i] %> </li>
                        <% } %>
                   
                </ul>

                <form action="/orderdetail" method="post">
                    <label for="orderid">OrderID</label>
                    <input type="text" name="orderid" id="orderid" placeholder="orderid" >
                    <button type="submit" id="getDetail">getDetail</button>
                </form>
          

              
</body>